<%- include("partials/header.ejs") %>

<h1><a href="/">thoughts.</a></h1>

<form action="/">
    <input type="submit" value="discard" />
</form>

<button type="submit" form="newPost" value="save">save</button>
<form action="/edit/<%= id %>/<%= title %>" method="post" id="newPost">
    <input type="text" id="title" name="title" 
    placeholder="Title" value="<%= title %>" required>
    <input type="text" id="content" name="content"
    placeholder="Express your thoughts..." value="<%= content %>" required>
</form>

</main>
</body>
</html>