<%- include("partials/header.ejs") %>

<%- include("partials/navbar.ejs") %>

<main>
    <% if (locals.posts && posts.length > 0) { %>
    <div class="container-md pb-4">
        <% for (let index = posts.length - 1; index >= 0; --index) { %>
            <!-- List goes here if current second is even. -->
            <div>
                <% let post = posts[index] %>
                <a href="posts/<%= index %>/<%= post.title %>" class="erase-link-underscore">
                    <p class="title"><%= post.title %></p>
                    <% let firstFewText = post.content.substring(0, 100) %>
                    <p><%= firstFewText %></p>
                </a>
                <div class="post-container">
                    <p><%= post.date %></p>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item erase-link-underscore poppins-regular" href="edit/<%= index %>/<%= post.title %>">Edit</a>
                            </li>
                            <li>
                                <a class="dropdown-item erase-link-underscore poppins-regular" href="delete/<%= index %>/<%= post.title %>">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% if (index > 0) { %>
            <hr>
            <% } %>
        <% } %>
    </div> 
    <% } else { %>
    <div class="container-md text-center pb-3">
        <p>No thoughts page empty...</p>
    </div>
    <% } %>
</main>

<%- include("partials/footer.ejs")  %>