<%- include("partials/header.ejs") %>

<main>
    <h1><a href="/">thoughts.</a></h1>

    <a href="/create">start thinking...</a>

    <% if (locals.posts) { %>
        <% for (let index = posts.length - 1; index >= 0; --index) { %>
            <!-- List goes here if current second is even. -->
            <div>
                <% let post = posts[index] %>
                <a href="posts/<%= index %>/<%= post.title %>">
                    <h3><%= post.title %></h3>
                    <% let firstFewText = post.content.substring(0, 100) %>
                    <p><%= firstFewText %></p>
                </a>
                <p><%= post.date %></p>
                <a href="edit/<%= index %>/<%= post.title %>">
                    Edit
                </a>
                <a href="delete/<%= index %>/<%= post.title %>">
                    Delete
                </a>
            </div>
        <% } %>
    <% } %>
</main>

<%- include("partials/footer.ejs")  %>