<%- include("partials/header.ejs") %>

<main>
    <h1><a href="/">thoughts.</a></h1>
    
    <h2><%= title %></h2>
    <h3><%= date %></h3>
    <p><%= content %></p>
</main>

<%- include("partials/footer.ejs") %>