<%- include("partials/header.ejs"), {title: title} %>

<%- include("partials/navbar.ejs") %>

<main>
    <div class="container-md pb-4">
        <p class="title"><%= title %></p>
        <p><%= date %></p>
        <p class="content"><%= content %></p>
    </div>
</main>

<%- include("partials/footer.ejs") %>